---
layout: layouts/base.njk
---
<article class="content">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>

{%- if showBureau and collections.bureau.length %}
<section class="section">
  <h2>Le bureau</h2>
  <ul class="card-list card-list--bureau">
    {%- for member in collections.bureau %}
    <li class="card card--member">
      {%- if member.data.photo %}
      <img class="card__photo" src="{{ member.data.photo }}" alt="{{ member.data.name }}">
      {%- endif %}
      <h3>{{ member.data.name }}</h3>
      <p class="card__meta">{{ member.data.role }}</p>
    </li>
    {%- endfor %}
  </ul>
</section>
{%- endif %}

{%- if showPartners and collections.partners.length %}
<section class="section">
  <h2>Nos partenaires</h2>
  <ul class="card-list card-list--partners">
    {%- for partner in collections.partners %}
    <li class="card card--partner">
      {%- if partner.data.logo %}
      <img class="card__logo" src="{{ partner.data.logo }}" alt="{{ partner.data.name }}">
      {%- endif %}
      {%- if partner.data.link %}
      <h3><a href="{{ partner.data.link }}">{{ partner.data.name }}</a></h3>
      {%- else %}
      <h3>{{ partner.data.name }}</h3>
      {%- endif %}
    </li>
    {%- endfor %}
  </ul>
</section>
{%- endif %}
